
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body {
    background-color: blanchedalmond;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.main {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
}
